body {
    font-family: Arial, sans-serif;
    background-color: #ddd;
    margin: 0;
    padding: 20px;
    display: flex;
}

#leftnavplaceholder {
    background-color: #000;
    color: #fff;
    padding: 20px;
    flex: 0 0 250px;
}

#leftNavPlaceholder ul {
    background-color: rgb(133, 40, 40);
    list-style: none;
    margin: -20px;
    padding-top: 20px;
    width: 400px;
    height: 100%;
}

#leftNavPlaceholder ul li h1 {
    color: white;
    font-size: 34px;
}

#leftNavPlaceholder ul li a {
    font-size: 24px;
    color: white;
}

#pokemonTableContainer {
    display: flex;
    flex-wrap: wrap; /* Allow boxes to wrap to the next line */
	justify-content: center;
}

.pokemonBox {
    border: 2px solid #fff;
    padding: 0;
    margin: 10px;
    flex: 0 0 calc((100% / 6) - 20px); /* Adjust the calculation as needed */
}

.pokemonTable {
    border-collapse: collapse;
    width: 100%;
}

.pokemonTable img {
    width: 100px;
    height: auto;
    display: block;
    margin: 2px;
}

.pokemonTable img.selected {
    filter: brightness(70%); /* Darken the image */
}

.pokemonTable img.selected::after {
    content: '\2714'; /* Unicode character for a green tick */
    font-size: 24px;
    color: green;
    position: absolute;
    top: auto;
    left: auto;
    transform: translate(-50%, -50%);
}

.pokemonBox h2 {
    margin: 0;
    padding: 10px;
    text-align: left;
    font-size: 16px;
    color: #333;
    background: linear-gradient(to right, #fff, #ddd);
}